<% index = true if params[:action] == 'index' %>
<h5 class="header">
  <%= fa_icon 'copy'%> Projetos

  <%= link_to add_path, class: 'icon-link' do %>
    <%= fa_icon "plus-circle" %>
  <% end if index %>

  <%= "- #{action}" unless index %>
</h5>

<% unless index %>
  <hr>
<% end %>
