@import "./backoffice/bootstrap/variables.scss";

$cami-primary: #c3096e;

$primary: $cami-primary !default;


$active-color: white !default;
$navbar-dark-hover-color: lighten($active-color, 10%) !default;
$navbar-dark-active-color: lighten($active-color, 10%) !default;

$modal-fade-transform: scale(.8);

@import "bootstrap";
@import "font-awesome";

@import "sweetalert2";

@import "lightgallery";

@import './backoffice/sessions';
@import './backoffice/users';
@import './backoffice/projects';
@import './icons';

.navbar{
  background-color: #3e3641 !important;
}

.form-control:focus {
  border-color: rgba(194,8,109,1);
}

.alert-danger{
  background-color: #d64242;
  color: white;
}

.table-actions{
  min-width: 6em;
  text-align: right;

  a{
    text-decoration: none;
  }
}
