// Place all the styles related to the Backoffice::Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-container{  
  background: #c4bdbf;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.illustration-session{
  width: 400px;
}

.login-form{
  width: 400px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
}
