<% add_path = add_path # Refatorar essa partial para tratamento de usuário não admin  %>
<h5>
  <%= fa_icon 'users'%> Usuários
  <% if add_path.present? %>
    <%= link_to add_path, class: 'icon-link' do %>
      <%= fa_icon "plus-circle" %>
    <% end %>
  <% else %>
    <%= "- #{action}" %>  
  <% end %>  
</h5>

<% unless add_path.present? %>
  <hr>
<% end %>
